%h1 Welcome to your library.
%p
  Here are your favorite artists.

%br

= link_to albums_path do
  See albums
  %br
= link_to tracks_path do
  See tracks

- 2.times do
  %br

%table
  %thead
    %tr
      %th
      %th Name
      %th Discography
      %th Genre
      %th 
  %tbody
    - @artists.each do |artist|
      %tr
        %td
          = artist.avatar_url
        %td
          = artist.name
        %td
        %td
          = artist.genre
        %td
          = "&nbsp".html_safe
          = link_to edit_artist_path(artist.id) do
            Edit
          = "&nbsp".html_safe
          = link_to artist_path(artist.id), method: :delete, data: { confirm: "Delete artist?"} do
            Delete
%br
= link_to new_artist_path do
  New Artist